#intro{
    background: url('../images/bg3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 150px;

}

#reg{

    background: url('../images/reg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:5%;

}

#rules{

    background: url('../images/cry1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 150px;

}

#parallax1{

     background: url('../images/rule.jpg');
    background-attachment: fixed;
    padding: 20%;
     background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


#parallax2{

     background: url('../images/bg22.jpg');
    background-attachment: fixed;
    padding: 20%;
     background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#parallax3{

     background: url('../images/emobg.jpg');
    background-attachment: fixed;
    padding: 20%;
     background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
@font-face {
    font-family: myFirstFont;
        src: url(../ttf/LOVE-BOX-demo.ttf);
    }

#head-text{
    font-family: 'Dhurjati', sans-serif;
}
@font-face {

    font-family: myFirstFont1;
    src: url(../ttf/ImmensedecaY.ttf);
    }

h1 {
    font-family: myFirstFont;
}

#heading1,#heading2,#heading3{

    font-family: myFirstFont1;

}

p,label{
    font-family: 'Audiowide', cursive;

}